<header class='bg-primary'>
    <div class="logo">
    </div>



    <div class="topnav" id="myTopnav">
        <!-- Set up ROUTERLINKS https://blog.angular-university.io/angular-2-router-nested-routes-and-nested-auxiliary-routes-build-a-menu-navigation-system/ -->
        <a class="indv_h_link" href="#">Volunteer Opportunities</a>
        <a class="indv_h_link" href="/login">Login</a>
        <a class="indv_h_link" href="#" onclick="logout()">Log Out</a>
        <a class="indv_h_link" routerLink='/signup'>Sign Up</a>
        <a class="indv_h_link" routerLink='' routerLinkActive='active'>Home</a>

    </div>
</header>