<h1>Admin Portal</h1>
<table>
    <thead>
        <th>Outreach Name</th>
        <!-- <th>Title</th>
        <th>Description</th>
        <th>Date</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let organizations of organizations">
            <td>{{ organizations?.name }}</td>
            <!-- <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.date }}</td> -->
            <button class="btn-warning" (click)="deleteOrganization(organizations._id)">Delete This Organization</button>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <th>Oganization Reps</th>
    </thead>
    <tbody>
        <tr *ngFor="let users of users">
            <td>{{ users?.username }}</td>
            <button class="btn-warning" ng-click="location.href = 'http:/localhost:3001/users/admin/delete'">Delete This
                User</button>
        </tr>
    </tbody>
</table>