#wrapper {
    height: 100%;
    width: 100%;
}

form {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 5px;
    width: 30%;
}

p {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    form {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}