<div id="wrapper">
    <form [formGroup]="myForm" (ngSubmit)="signup()">
        <!-- This shows a live preview of what is being typed and what will be sent to the db -->
        <div class="form-group">
            <p class='text-primary'>Sign Up!<br>Value: {{ myForm.value | json }}</p>
            <hr>
            <mat-form-field>
                <input matInput placeholder='email' formControlName='email' class="form-control text-primary"/>
    
                <mat-error *ngIf='myForm.controls.email.invalid && myForm.controls.email.touched'>
                    Invalid email!
                </mat-error>
    
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder='username' formControlName='username' class="form-control text-primary"/>
                <mat-hint align='end'>Must be between 5-10 characters</mat-hint>
    
                <mat-error *ngIf='myForm.controls.username.invalid && myForm.controls.username.touched'>
                    Invalid username!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type='password' placeholder='password' formControlName='password' class="form-control text-primary"/>
    
                <mat-hint align='end'>Must contain one letter, and one number</mat-hint>
    
                <mat-error *ngIf='myForm.controls.password.invalid && myForm.controls.password.touched'>
                    Invalid password!
                </mat-error>
    
            </mat-form-field>      
        </div>
        <button mat-raised-button [disabled]='myForm.invalid' type="submit" class="btn btn-outline-primary">
            Submit
        </button>
    
    
    </form>
</div>
