<form class="search bg-info" [formGroup]="searchForm" (ngSubmit)="search()">
    <p>Search by State for Organizations near you!</p>
    <div class='s_but'>
      <mat-form-field>
        <input
          matInput
          placeholder="Search by State!"
          formControlName="state"
        />
      </mat-form-field>
      <button mat-raised-button class='btn btn-outline-secondary' [disabled]="searchForm.invalid" type="submit">
        Search
      </button>
  </div>
  </form>
  <ul class='liContainer'>
    <li *ngFor='let organ of organ' class='li_item' (click)='reRoute(organ)'>
      <div class='_res'>{{ organ.name }}, {{ organ.city }}</div>
    </li>
  </ul>  


<div>
    <ul *ngFor='let organization of organization'>
        <li><a href='#'>{{organization.name}}</a></li>
    </ul>
</div>